<nav class="header">
  <div class="logo">
      <a href="/" >
          <img set src="logo-netflix">
      </a>
  </div>
  <ul class="nav">
      <span class="li"><li><a routerLink="/" routerLinkActive="active">Accueil</a></li></span>
      <span class="li"><li><a routerLink="/movie/popular" routerLinkActive="active">Popular</a></li></span>
      <span class="li"><li><a routerLink="/nowplaying" routerLinkActive="active">Now playing</a></li></span>
  </ul>
</nav>
<router-outlet></router-outlet>


